# SVN Issues #
###################
*.svn
*.log
*.vs
APPLICATIONS/.vs
*.VC.db
*.VC.VC.opendb

# SIL3 Pty Ltd Confidential #
###################
RLOOP_SIL3.sln

!COMMON_CODE/
COMMON_CODE/*

!COMMON_CODE/VB.NET
COMMON_CODE/VB.NET/*

!COMMON_CODE/DLLS
COMMON_CODE/DLLS/*
!COMMON_CODE/DLLS/LDLL186__MULTICORE__LCCM723/
COMMON_CODE/DLLS/LDLL186__MULTICORE__LCCM723/Object


# rLoop Public #
###################


# SIL3 Public #
###################


# OUTPUTS #
###################
LAPP184__RLOOP__PWRNODE_EMU/bin/Debug/*.pdb
LAPP184__RLOOP__PWRNODE_EMU/obj
LAPP185__RLOOP__FCU_EMU/bin/Debug/*.pdb
LAPP185__RLOOP__FCU_EMU/obj
LAPP186__RLOOP__RPOD_EMU/bin/Debug/*.pdb
LAPP186__RLOOP__RPOD_EMU/obj
LAPP187__RLOOP__PICOMMS_EMU/bin
LAPP187__RLOOP__PICOMMS_EMU/obj
LAPP188__RLOOP__RPOD_CONTROL/obj
LAPP188__RLOOP__RPOD_CONTROL/bin/Debug/*.pdb
#PROJECT_CODE/VB.NET/LCCM661__RLOOP__RPOD_GUI

LAPP208__RLOOP__AUXPROP_EMU/bin/Debug/*.pdb
LAPP208__RLOOP__AUXPROP_EMU/obj

LAPP209__RLOOP__HE_THERM_EMU/bin/Debug/*.pdb
LAPP209__RLOOP__HE_THERM_EMU/obj

LAPP210__RLOOP__LGU_EMU/bin/Debug/*.pdb
LAPP210__RLOOP__LGU_EMU/obj

LAPP211__RLOOP__ASI_EMU/bin/Debug/*.pdb
LAPP211__RLOOP__ASI_EMU/obj

LAPP212__RLOOP__OPTONCDT_EMU/bin/Debug/*.pdb
LAPP212__RLOOP__OPTONCDT_EMU/obj

PROJECT_CODE/DLLS/*_SIL3

#PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/bin
PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/debug
#PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/bin
PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/debug
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/bin
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/debug
#PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/bin
PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/debug
#PROJECT_CODE/DLLS/LDLL180__RLOOP__LCCM720/bin
PROJECT_CODE/DLLS/LDLL180__RLOOP__LCCM720/debug
#PROJECT_CODE/DLLS/LDLL181__RLOOP__LCCM721/bin
PROJECT_CODE/DLLS/LDLL181__RLOOP__LCCM721/debug
#PROJECT_CODE/DLLS/LDLL182__RLOOP__LCCM722/bin
PROJECT_CODE/DLLS/LDLL182__RLOOP__LCCM722/debug
#PROJECT_CODE/DLLS/LDLL183__RLOOP__LCCM719/bin
PROJECT_CODE/DLLS/LDLL183__RLOOP__LCCM719/debug


