# SVN Issues #
###################
*.svn
*.log
*.vs
APPLICATIONS/.vs
*.VC.db
*.VC.VC.opendb


# SIL3 Pty Ltd Confidential #
###################

!COMMON_CODE/
COMMON_CODE/*

!COMMON_CODE/VB.NET
COMMON_CODE/VB.NET/*


# rLoop Public #
###################


# SIL3 Public #
###################


# OUTPUTS #
###################
LAPP184__RLOOP__PWRNODE_EMU/bin
LAPP184__RLOOP__PWRNODE_EMU/obj
LAPP185__RLOOP__FCU_EMU/bin/Debug/*.pdb
LAPP185__RLOOP__FCU_EMU/obj
LAPP186__RLOOP__RPOD_EMU/bin
LAPP186__RLOOP__RPOD_EMU/obj
LAPP187__RLOOP__PICOMMS_EMU/bin
LAPP187__RLOOP__PICOMMS_EMU/obj
LAPP188__RLOOP__RPOD_CONTROL/obj
LAPP188__RLOOP__RPOD_CONTROL/bin/Debug/*.pdb
#PROJECT_CODE/VB.NET/LCCM661__RLOOP__RPOD_GUI

#PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/bin
PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/debug
PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653_STATIC/bin
PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653_STATIC/debug
PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655_STATIC/bin
PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655_STATIC/debug
#PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/bin
PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/debug
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/bin
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/debug

#PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/bin
PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/debug


