# SVN Issues #
###################
*.svn
*.log
*.vs
APPLICATIONS/.vs
*.VC.db
*.VC.VC.opendb

# SIL3 Pty Ltd Confidential #
###################
RLOOP_SIL3.sln
*_SIL3

!COMMON_CODE/
COMMON_CODE/*

!COMMON_CODE/VB.NET
COMMON_CODE/VB.NET/*

!COMMON_CODE/DLLS
COMMON_CODE/DLLS/*
!COMMON_CODE/DLLS/LDLL186__MULTICORE__LCCM723/
COMMON_CODE/DLLS/LDLL186__MULTICORE__LCCM723/Object


# rLoop Public #
###################


# SIL3 Public #
###################


# OUTPUTS #
###################
LAPP184__RLOOP__PWRNODE_EMU/bin/Debug/*.pdb
LAPP184__RLOOP__PWRNODE_EMU/obj
!LAPP184__RLOOP__LIB/
LAPP184__RLOOP__LIB/*
!LAPP184__RLOOP__LIB/bin/
LAPP184__RLOOP__LIB/bin/*
!LAPP184__RLOOP__LIB/bin/Debug/
LAPP184__RLOOP__LIB/bin/Debug/*
!LAPP184__RLOOP__LIB/bin/Debug/*


LAPP185__RLOOP__FCU_EMU/bin/Debug/*.pdb
LAPP185__RLOOP__FCU_EMU/obj
LAPP185__RLOOP__FCU_EMU_SIL3
!LAPP185__RLOOP__LIB/
LAPP185__RLOOP__LIB/*
!LAPP185__RLOOP__LIB/bin/
LAPP185__RLOOP__LIB/bin/*
!LAPP185__RLOOP__LIB/bin/Debug/
LAPP185__RLOOP__LIB/bin/Debug/*
!LAPP185__RLOOP__LIB/bin/Debug/*


LAPP186__RLOOP__RPOD_EMU/bin/Debug/*.pdb
LAPP186__RLOOP__RPOD_EMU/obj


LAPP187__RLOOP__PICOMMS_EMU/bin
LAPP187__RLOOP__PICOMMS_EMU/obj

LAPP188__RLOOP__RPOD_CONTROL/obj
LAPP188__RLOOP__RPOD_CONTROL/bin/Debug/*.pdb
LAPP188__RLOOP__RPOD_CONTROL_SIL3
!LAPP188__RLOOP__LIB/
LAPP188__RLOOP__LIB/*
!LAPP188__RLOOP__LIB/bin/
LAPP188__RLOOP__LIB/bin/*
!LAPP188__RLOOP__LIB/bin/Debug/
LAPP188__RLOOP__LIB/bin/Debug/*
!LAPP188__RLOOP__LIB/bin/Debug/*

LAPP208__RLOOP__AUXPROP_EMU/bin/Debug/*.pdb
LAPP208__RLOOP__AUXPROP_EMU/obj
!LAPP208__RLOOP__LIB/
LAPP208__RLOOP__LIB/*
!LAPP208__RLOOP__LIB/bin/
LAPP208__RLOOP__LIB/bin/*
!LAPP208__RLOOP__LIB/bin/Debug/
LAPP208__RLOOP__LIB/bin/Debug/*
!LAPP208__RLOOP__LIB/bin/Debug/*


LAPP209__RLOOP__HE_THERM_EMU/bin/Debug/*.pdb
LAPP209__RLOOP__HE_THERM_EMU/obj
LAPP209__RLOOP__HE_THERM_EMU_SIL3
!LAPP209__RLOOP__LIB/
LAPP209__RLOOP__LIB/*
!LAPP209__RLOOP__LIB/bin/
LAPP209__RLOOP__LIB/bin/*
!LAPP209__RLOOP__LIB/bin/Debug/
LAPP209__RLOOP__LIB/bin/Debug/*
!LAPP209__RLOOP__LIB/bin/Debug/*


LAPP210__RLOOP__LGU_EMU/bin/Debug/*.pdb
LAPP210__RLOOP__LGU_EMU/obj
LAPP210__RLOOP__LGU_EMU_SIL3
!LAPP210__RLOOP__LIB/
LAPP210__RLOOP__LIB/*
!LAPP210__RLOOP__LIB/bin/
LAPP210__RLOOP__LIB/bin/*
!LAPP210__RLOOP__LIB/bin/Debug/
LAPP210__RLOOP__LIB/bin/Debug/*
!LAPP210__RLOOP__LIB/bin/Debug/*


LAPP211__RLOOP__ASI_EMU/bin/Debug/*.pdb
LAPP211__RLOOP__ASI_EMU/obj
!LAPP122__RLOOP__LIB/
LAPP122__RLOOP__LIB/*
!LAPP122__RLOOP__LIB/bin/
LAPP122__RLOOP__LIB/bin/*
!LAPP122__RLOOP__LIB/bin/Debug/
LAPP122__RLOOP__LIB/bin/Debug/*
!LAPP122__RLOOP__LIB/bin/Debug/*


LAPP212__RLOOP__OPTONCDT_EMU/bin/Debug/*.pdb
LAPP212__RLOOP__OPTONCDT_EMU/obj
!LAPP212__RLOOP__LIB/
LAPP212__RLOOP__LIB/*
!LAPP212__RLOOP__LIB/bin/
LAPP212__RLOOP__LIB/bin/*
!LAPP212__RLOOP__LIB/bin/Debug/
LAPP212__RLOOP__LIB/bin/Debug/*
!LAPP212__RLOOP__LIB/bin/Debug/*


LAPP217__RLOOP__GIMBAL_EMU/bin/Debug/*.pdb
LAPP217__RLOOP__GIMBAL_EMU/obj
!LAPP217__RLOOP__LIB/
LAPP217__RLOOP__LIB/*
!LAPP217__RLOOP__LIB/bin/
LAPP217__RLOOP__LIB/bin/*
!LAPP217__RLOOP__LIB/bin/Debug/
LAPP217__RLOOP__LIB/bin/Debug/*
!LAPP217__RLOOP__LIB/bin/Debug/*



PROJECT_CODE/DLLS/*_SIL3

#PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/bin
PROJECT_CODE/DLLS/LDLL173__RLOOP__LCCM653/debug
#PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/bin
PROJECT_CODE/DLLS/LDLL174__RLOOP__LCCM655/debug
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/bin
PROJECT_CODE/DLLS/LDLL175__RLOOP__LCCM656/debug
#PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/bin
PROJECT_CODE/DLLS/LDLL179__RLOOP__LCCM667/debug
#PROJECT_CODE/DLLS/LDLL180__RLOOP__LCCM720/bin
PROJECT_CODE/DLLS/LDLL180__RLOOP__LCCM720/debug
#PROJECT_CODE/DLLS/LDLL181__RLOOP__LCCM721/bin
PROJECT_CODE/DLLS/LDLL181__RLOOP__LCCM721/debug
#PROJECT_CODE/DLLS/LDLL182__RLOOP__LCCM722/bin
PROJECT_CODE/DLLS/LDLL182__RLOOP__LCCM722/debug
#PROJECT_CODE/DLLS/LDLL183__RLOOP__LCCM719/bin
PROJECT_CODE/DLLS/LDLL183__RLOOP__LCCM719/debug


