# SVN Issues #
###################
*.svn
*.log

# Local Workspace for CCSV6 #
###################
WORKSPACE

# SIL3 Pty Ltd Confidential #
###################
!COMMON_CODE/
COMMON_CODE/*
!COMMON_CODE/MULTICORE
COMMON_CODE/MULTICORE/*
!COMMON_CODE/RM4
COMMON_CODE/RM4/*
!COMMON_CODE/XILINX
#COMMON_CODE/XILINX/*


!COMMON_CODE/RM4/LCCM133__RM4__GIO
COMMON_CODE/RM4/LCCM133__RM4__GIO/*
!COMMON_CODE/RM4/LCCM135__RM4__FLASH
COMMON_CODE/RM4/LCCM135__RM4__FLASH/*
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API
COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API/*
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM
COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*
!COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE
COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE/*
!COMMON_CODE/RM4/LCCM221__RM4__SELFTEST
COMMON_CODE/RM4/LCCM221__RM4__SELFTEST/*
!COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX
COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX/*
!COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE
COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE/*
!COMMON_CODE/RM4/LCCM224__RM4__EFUSE
COMMON_CODE/RM4/LCCM224__RM4__EFUSE/*
!COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR
COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR/*
!COMMON_CODE/RM4/LCCM227__RM4__BIST
COMMON_CODE/RM4/LCCM227__RM4__BIST/*
!COMMON_CODE/RM4/LCCM228__RM4__DELAYS
COMMON_CODE/RM4/LCCM228__RM4__DELAYS/*
!COMMON_CODE/RM4/LCCM229__RM4__DMA
COMMON_CODE/RM4/LCCM229__RM4__DMA/*
!COMMON_CODE/RM4/LCCM282__RM4__SCI
COMMON_CODE/RM4/LCCM282__RM4__SCI/*
!COMMON_CODE/RM4/LCCM215__RM4__I2C
COMMON_CODE/RM4/LCCM215__RM4__I2C/*
!COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135
COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135/*
!COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION
COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION/*
!COMMON_CODE/RM4/LCCM226__RM4__CRC
COMMON_CODE/RM4/LCCM226__RM4__CRC/*
!COMMON_CODE/RM4/LCCM107__RM4__EMIF
COMMON_CODE/RM4/LCCM107__RM4__EMIF/*
!COMMON_CODE/RM4/LCCM124__RM4__RTI
COMMON_CODE/RM4/LCCM124__RM4__RTI/*
!COMMON_CODE/RM4/LCCM414__RM4__ADC
COMMON_CODE/RM4/LCCM414__RM4__ADC/*
!COMMON_CODE/RM4/LCCM108__RM4__SPI24
COMMON_CODE/RM4/LCCM108__RM4__SPI24/*
!COMMON_CODE/RM4/LCCM240__RM4__N2HET
COMMON_CODE/RM4/LCCM240__RM4__N2HET/*
!COMMON_CODE/RM4/LCCM230__RM4__EEPROM
COMMON_CODE/RM4/LCCM230__RM4__EEPROM/*
!COMMON_CODE/RM4/LCCM254__RM4__EMAC
COMMON_CODE/RM4/LCCM254__RM4__EMAC/*
!COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD
COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD/*

!COMMON_CODE/WIN32
COMMON_CODE/WIN32/*

!COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC
COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC/*
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL
COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/*
!COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE
COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE/*
!COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE
COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE/*
!COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17
COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17/*
!COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741
COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741/*
!COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451
COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451/*
!COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO
COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO/*
!COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS
COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS/*
!COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640
COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640/*
!COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3
COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3/*
!COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP
COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP/*


# rLoop Public #
###################
!COMMON_CODE/MULTICORE/LCCM641__MULTICORE__DS2482S/
!COMMON_CODE/MULTICORE/LCCM644__MULTICORE__DS18B20/
!COMMON_CODE/MULTICORE/LCCM650__MULTICORE__ATA6870/
!COMMON_CODE/MULTICORE/LCCM647__MULTICORE__TSYS01/
!COMMON_CODE/MULTICORE/LCCM648__MULTICORE__MS5607/
!COMMON_CODE/MULTICORE/LCCM658__MULTICORE__AMC7812/
!COMMON_CODE/MULTICORE/LCCM662__MULTICORE__DAQ/
!COMMON_CODE/MULTICORE/LCCM668__MULTICORE__SOFT_I2C/

# SIL3 Public #
###################
!COMMON_CODE/RM4/LCCM105__RM4__BASIC_TYPES/
!COMMON_CODE/WIN32/BASIC_TYPES/
!COMMON_CODE/WIN32/DEBUG_PRINTF/

!COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC/software_crc.h
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/numerical.h
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/numerical__structs.h
!COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE/*.h
!COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE/*.h
!COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17/*.h
!COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741/*.h
!COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451/*.h
!COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO/*.h
!COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS/*.h
!COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640/*.h
!COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3/*.h
!COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP/*.h
!COMMON_CODE/MULTICORE/LCCM662__MULTICORE__DAQ/*.h


!COMMON_CODE/RM4/LCCM133__RM4__GIO/*.h
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/*.h
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API/*.*
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*.h
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*.asm
!COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE/*.h
!COMMON_CODE/RM4/LCCM221__RM4__SELFTEST/*.h
!COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX/*.h
!COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE/*.h
!COMMON_CODE/RM4/LCCM224__RM4__EFUSE/*.h
!COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR/*.h
!COMMON_CODE/RM4/LCCM227__RM4__BIST/*.h
!COMMON_CODE/RM4/LCCM228__RM4__DELAYS/*.h
!COMMON_CODE/RM4/LCCM229__RM4__DMA/*.h
!COMMON_CODE/RM4/LCCM282__RM4__SCI/*.h
!COMMON_CODE/RM4/LCCM215__RM4__I2C/*.h
!COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135/*.h
!COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION/*.h
!COMMON_CODE/RM4/LCCM226__RM4__CRC/*.h
!COMMON_CODE/RM4/LCCM107__RM4__EMIF/*.h
!COMMON_CODE/RM4/LCCM124__RM4__RTI/*.h
!COMMON_CODE/RM4/LCCM414__RM4__ADC/*.h
!COMMON_CODE/RM4/LCCM108__RM4__SPI24/*.h
!COMMON_CODE/RM4/LCCM240__RM4__N2HET/*.h
!COMMON_CODE/RM4/LCCM230__RM4__EEPROM/*.h
!COMMON_CODE/RM4/LCCM254__RM4__EMAC/*.h
!COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD/*.h


# OUTPUTS #
###################
LFW513__RLOOP__BSP

LFW513__RLOOP__POWER_NODE_SIL3

LFW513__RLOOP__POWER_NODE/Debug
#LFW513__RLOOP__POWER_NODE/DOXYGEN/Output
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.md5
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.dot
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.map

LFW531__RLOOP__BSP

LFW531__RLOOP__FLIGHT_CONTROL_SIL3

LFW531__RLOOP__FLIGHT_CONTROL/Debug
LFW531__RLOOP__FLIGHT_CONTROL/DOXYGEN/Output
LFW531__RLOOP__FLIGHT_CONTROL/DOXYGEN/Output/html/*.md5
LFW531__RLOOP__FLIGHT_CONTROL/DOXYGEN/Output/html/*.dot
LFW531__RLOOP__FLIGHT_CONTROL/DOXYGEN/Output/html/*.map

LFW548__RLOOP__BSP

LFW548__RLOOP__LGU_SIL3

LFW548__RLOOP__LGU/Debug
LFW548__RLOOP__LGU/DOXYGEN/Output
LFW548__RLOOP__LGU/DOXYGEN/Output/html/*.md5
LFW548__RLOOP__LGU/DOXYGEN/Output/html/*.dot
LFW548__RLOOP__LGU/DOXYGEN/Output/html/*.map


VERIFICATION/LFW540__VERIFY__LCCM656_TE_000/Debug
VERIFICATION/LFW540__VERIFY__LCCM656_TE_000_SIL3
VERIFICATION/LFW534__RLOOP__LCCM650_TE_000/Debug
VERIFICATION/LFW532__VERIFY__LCCM641_TE_001/Debug
VERIFICATION/LFW543__VERIFY__LCCM658_TE_000_SIL3
VERIFICATION/LFW547__VERIFY__LCCM655_TE_000_SIL3

#PROJECT_CODE/LCCM655__RLOOP__FCU_CORE/DOXYGEN/Output
PROJECT_CODE/LCCM655__RLOOP__FCU_CORE/DOXYGEN/Output/html/*.md5
PROJECT_CODE/LCCM655__RLOOP__FCU_CORE/DOXYGEN/Output/html/*.dot
PROJECT_CODE/LCCM655__RLOOP__FCU_CORE/DOXYGEN/Output/html/*.map


# FILES GENERATED BY CCS #


FIRMWARE/LFW531__RLOOP__FLIGHT_CONTROL/.launches/LFW531__RLOOP__FLIGHT_CONTROL.launch
FIRMWARE/LFW513__RLOOP__POWER_NODE/.launches/LFW513__RLOOP__POWER_NODE.launch


