# SVN Issues #
###################
*.svn
*.log

# Local Workspace for CCSV6 #
###################
WORKSPACE

# SIL3 Pty Ltd Confidential #
###################

!COMMON_CODE/
COMMON_CODE/*

!COMMON_CODE/MULTICORE
COMMON_CODE/MULTICORE/*

!COMMON_CODE/RM4
COMMON_CODE/RM4/*

!COMMON_CODE/WIN32
COMMON_CODE/WIN32/*


# rLoop Public #
###################
!COMMON_CODE/MULTICORE/LCCM641__MULTICORE__DS2482S/
!COMMON_CODE/MULTICORE/LCCM644__MULTICORE__DS18B20/
!COMMON_CODE/MULTICORE/LCCM650__MULTICORE__ATA6870/


# SIL3 Public #
###################
!COMMON_CODE/RM4/LCCM105__RM4__BASIC_TYPES/
!COMMON_CODE/WIN32/BASIC_TYPES/
!COMMON_CODE/WIN32/DEBUG_PRINTF/


# OUTPUTS #
###################
LFW513__RLOOP__POWER_NODE/Debug
#LFW513__RLOOP__POWER_NODE/DOXYGEN/Output
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.md5
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.dot
LFW513__RLOOP__POWER_NODE/DOXYGEN/Output/html/*.map
LFW531__RLOOP__FLIGHT_CONTROL/Debug
LFW531__RLOOP__FLIGHT_CONTROL/DOXYGEN/Output
VERIFICATION/LFW532__VERIFY__LCCM641_TE_001/Debug
VERIFICATION/LFW534__RLOOP__LCCM650_TE_000/Debug


