# SVN Issues #
###################
*.svn
*.log

# Local Workspace for CCSV6 #
###################
WORKSPACE

# SIL3 Pty Ltd Confidential #
###################
!COMMON_CODE/
COMMON_CODE/*
!COMMON_CODE/MULTICORE
COMMON_CODE/MULTICORE/*
!COMMON_CODE/RM4
COMMON_CODE/RM4/*
!COMMON_CODE/XILINX
#COMMON_CODE/XILINX/*
!COMMON_CODE/RM57
COMMON_CODE/RM57/*


#RM57
!COMMON_CODE/RM57/LCCM704__RM57__COMMON
COMMON_CODE/RM57/LCCM704__RM57__COMMON/*
!COMMON_CODE/RM57/LCCM708__RM57__PERIPH_CENTRAL_RESOURCE
COMMON_CODE/RM57/LCCM708__RM57__PERIPH_CENTRAL_RESOURCE/*
!COMMON_CODE/RM57/LCCM709__RM57__PIN_MUX
COMMON_CODE/RM57/LCCM709__RM57__PIN_MUX/*
!COMMON_CODE/RM57/RM57L843/LIB_16_9_3/*

#RM48
=======


!COMMON_CODE/RM4/LCCM133__RM4__GIO
COMMON_CODE/RM4/LCCM133__RM4__GIO/*
!COMMON_CODE/RM4/LCCM135__RM4__FLASH
COMMON_CODE/RM4/LCCM135__RM4__FLASH/*
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API
COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API/*
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM
COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*
!COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE
COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE/*
!COMMON_CODE/RM4/LCCM221__RM4__SELFTEST
COMMON_CODE/RM4/LCCM221__RM4__SELFTEST/*
!COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX
COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX/*
!COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE
COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE/*
!COMMON_CODE/RM4/LCCM224__RM4__EFUSE
COMMON_CODE/RM4/LCCM224__RM4__EFUSE/*
!COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR
COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR/*
!COMMON_CODE/RM4/LCCM227__RM4__BIST
COMMON_CODE/RM4/LCCM227__RM4__BIST/*
!COMMON_CODE/RM4/LCCM228__RM4__DELAYS
COMMON_CODE/RM4/LCCM228__RM4__DELAYS/*
!COMMON_CODE/RM4/LCCM229__RM4__DMA
COMMON_CODE/RM4/LCCM229__RM4__DMA/*
!COMMON_CODE/RM4/LCCM282__RM4__SCI
COMMON_CODE/RM4/LCCM282__RM4__SCI/*
!COMMON_CODE/RM4/LCCM215__RM4__I2C
COMMON_CODE/RM4/LCCM215__RM4__I2C/*
!COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135
COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135/*
!COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION
COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION/*
!COMMON_CODE/RM4/LCCM226__RM4__CRC
COMMON_CODE/RM4/LCCM226__RM4__CRC/*
!COMMON_CODE/RM4/LCCM107__RM4__EMIF
COMMON_CODE/RM4/LCCM107__RM4__EMIF/*
!COMMON_CODE/RM4/LCCM124__RM4__RTI
COMMON_CODE/RM4/LCCM124__RM4__RTI/*
!COMMON_CODE/RM4/LCCM414__RM4__ADC
COMMON_CODE/RM4/LCCM414__RM4__ADC/*
!COMMON_CODE/RM4/LCCM108__RM4__SPI24
COMMON_CODE/RM4/LCCM108__RM4__SPI24/*
!COMMON_CODE/RM4/LCCM240__RM4__N2HET
COMMON_CODE/RM4/LCCM240__RM4__N2HET/*
!COMMON_CODE/RM4/LCCM230__RM4__EEPROM
COMMON_CODE/RM4/LCCM230__RM4__EEPROM/*
!COMMON_CODE/RM4/LCCM254__RM4__EMAC
COMMON_CODE/RM4/LCCM254__RM4__EMAC/*
!COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD
COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD/*
!COMMON_CODE/RM4/RM48L92\LIB_16_9_3\*

!COMMON_CODE/WIN32
COMMON_CODE/WIN32/*

!COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC
COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC/*
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL
COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/*
!COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE
COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE/*
!COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE
COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE/*
!COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17
COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17/*
!COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741
COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741/*
!COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451
COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451/*
!COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO
COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO/*
!COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS
COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS/*
!COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640
COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640/*
!COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3
COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3/*
!COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP
COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP/*


# rLoop Public #
###################
!COMMON_CODE/MULTICORE/LCCM641__MULTICORE__DS2482S/
!COMMON_CODE/MULTICORE/LCCM644__MULTICORE__DS18B20/
!COMMON_CODE/MULTICORE/LCCM650__MULTICORE__ATA6870/
!COMMON_CODE/MULTICORE/LCCM647__MULTICORE__TSYS01/
!COMMON_CODE/MULTICORE/LCCM648__MULTICORE__MS5607/
!COMMON_CODE/MULTICORE/LCCM658__MULTICORE__AMC7812/
!COMMON_CODE/MULTICORE/LCCM662__MULTICORE__DAQ/
!COMMON_CODE/MULTICORE/LCCM668__MULTICORE__SOFT_I2C/

# SIL3 Public #
###################
!COMMON_CODE/RM4/LCCM105__RM4__BASIC_TYPES/
!COMMON_CODE/WIN32/BASIC_TYPES/
!COMMON_CODE/WIN32/DEBUG_PRINTF/

!COMMON_CODE/MULTICORE/LCCM012__MULTICORE__SOFTWARE_CRC/software_crc.h
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/numerical.h
!COMMON_CODE/MULTICORE/LCCM118__MULTICORE__NUMERICAL/numerical__structs.h
!COMMON_CODE/MULTICORE/LCCM284__MULTICORE__FAULT_TREE/*.h
!COMMON_CODE/MULTICORE/LCCM231__MULTICORE__STEPPER_DRIVE/*.h
!COMMON_CODE/MULTICORE/LCCM121__MULTICORE__MCP23S17/*.h
!COMMON_CODE/MULTICORE/LCCM487__MULTICORE__SC16IS741/*.h
!COMMON_CODE/MULTICORE/LCCM418__MULTICORE__MMA8451/*.h
!COMMON_CODE/MULTICORE/LCCM357__MULTICORE__SOFTWARE_FIFO/*.h
!COMMON_CODE/MULTICORE/LCCM188__MULTICORE__EEPROM_PARAMS/*.h
!COMMON_CODE/MULTICORE/LCCM515__MULTICORE__DP83640/*.h
!COMMON_CODE/MULTICORE/LCCM325__MULTICORE__802_3/*.h
!COMMON_CODE/MULTICORE/LCCM528__MULTICORE__SAFE_UDP/*.h
!COMMON_CODE/MULTICORE/LCCM662__MULTICORE__DAQ/*.h

#rm48 headers
!COMMON_CODE/RM4/LCCM133__RM4__GIO/*.h
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/*.h
!COMMON_CODE/RM4/LCCM135__RM4__FLASH/F021_Flash_API/*.*
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*.h
!COMMON_CODE/RM4/LCCM219__RM4__SYSTEM/*.asm
!COMMON_CODE/RM4/LCCM220__RM4__ERROR_SIGNAL_MODULE/*.h
!COMMON_CODE/RM4/LCCM221__RM4__SELFTEST/*.h
!COMMON_CODE/RM4/LCCM222__RM4__PIN_MUX/*.h
!COMMON_CODE/RM4/LCCM223__RM4__PERIPH_CENTRAL_RESOURCE/*.h
!COMMON_CODE/RM4/LCCM224__RM4__EFUSE/*.h
!COMMON_CODE/RM4/LCCM225__RM4__VECTORED_ISR_MGR/*.h
!COMMON_CODE/RM4/LCCM227__RM4__BIST/*.h
!COMMON_CODE/RM4/LCCM228__RM4__DELAYS/*.h
!COMMON_CODE/RM4/LCCM229__RM4__DMA/*.h
!COMMON_CODE/RM4/LCCM282__RM4__SCI/*.h
!COMMON_CODE/RM4/LCCM215__RM4__I2C/*.h
!COMMON_CODE/RM4/LCCM280__RM4__MIBSPI_135/*.h
!COMMON_CODE/RM4/LCCM364__RM4__FIRMWARE_VERSION/*.h
!COMMON_CODE/RM4/LCCM226__RM4__CRC/*.h
!COMMON_CODE/RM4/LCCM107__RM4__EMIF/*.h
!COMMON_CODE/RM4/LCCM124__RM4__RTI/*.h
!COMMON_CODE/RM4/LCCM414__RM4__ADC/*.h
!COMMON_CODE/RM4/LCCM108__RM4__SPI24/*.h
!COMMON_CODE/RM4/LCCM240__RM4__N2HET/*.h
!COMMON_CODE/RM4/LCCM230__RM4__EEPROM/*.h
!COMMON_CODE/RM4/LCCM254__RM4__EMAC/*.h
!COMMON_CODE/RM4/LCCM663__RM4__CPU_LOAD/*.h

#RM57 Headers
!COMMON_CODE/RM57/LCCM704__RM57__COMMON/*.h
!COMMON_CODE/RM57/LCCM708__RM57__PERIPH_CENTRAL_RESOURCE/*.h
!COMMON_CODE/RM57/LCCM709__RM57__PIN_MUX/*h


# OUTPUTS #
###################


LFW513__RLOOP__BSP
!LFW513__RLOOP__BSP/Debug/*.lib
LFW513__RLOOP__POWER_NODE_SIL3

LFW531__RLOOP__BSP
!LFW531__RLOOP__BSP/Debug/*.lib
LFW531__RLOOP__FLIGHT_CONTROL_SIL3
LFW531__RLOOP__FLIGHT_CONTROL/Debug

LFW548__RLOOP__BSP
!LFW548__RLOOP__BSP/Debug/*.lib
LFW548__RLOOP__LGU_SIL3
LFW548__RLOOP__LGU/Debug

LFW608__RLOOP__BSP
!LFW608__RLOOP__BSP/Debug/*.lib
LFW608__RLOOP__HE_THERM_SIL3
LFW608__RLOOP__HE_THERM/Debug

LFW613__RLOOP__BSP
!LFW613__RLOOP__BSP/Debug/*.lib
LFW613__RLOOP__POWER_NODE_SIL3
LFW613__RLOOP__POWER_NODE/Debug

LFW614__RLOOP__BSP
!LFW614__RLOOP__BSP/Debug/*.lib
LFW614__RLOOP__OPTONCDT_TEST_SIL3
LFW614__RLOOP__OPTONCDT_TEST/Debug

LFW615__RLOOP__BSP
!LFW615__RLOOP__BSP/Debug/*.lib
LFW615__RLOOP__AUXPROP_UNIT_SIL3
LFW615__RLOOP__AUXPROP_UNIT/Debug

LFW616__RLOOP__BSP
!LFW616__RLOOP__BSP/Debug/*.lib
LFW616__RLOOP__ASI_MONITOR_SIL3
LFW616__RLOOP__ASI_MONITOR/Debug

#CLOSE OFF THE SIL3 INTERNAL PROJECTS
VERIFICATION/RM48L952/*_SIL3
VERIFICATION/RM48L952/WORKSPACE
VERIFICATION/RM57L843/*_SIL3
VERIFICATION/RM57L843/WORKSPACE

# VERIFICATION PROJECTS
VERIFICATION/RM48L952/LFW532__VERIFY__LCCM641_TE_001/Debug
VERIFICATION/RM48L952/LFW534__VERIFY__LCCM650_TE_000/Debug
VERIFICATION/RM48L952/LFW540__VERIFY__LCCM656_TE_000/Debug
VERIFICATION/RM48L952/LFW543__VERIFY__LCCM658_TE_000/Debug
VERIFICATION/RM48L952/LFW584__VERIFY__LCCM647_TE_000/Debug


# FILES GENERATED BY CCS #


